.layout-container {
  display: flex;
  height: 100vh;
  background: #f7f8fa;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.menu a {
  color: #cbd5e1;
  padding: 12px 0;
  display: block;
  text-decoration: none;
  font-size: 15px;
}

.menu a:hover {
  color: white;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: white;
  padding: 20px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* CONTENT */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 25px;
}
